In [1]:
MyString = 'Hello World'

In [2]:
MyString

'Hello World'

In [3]:
MyString[-3]

'r'

In [4]:
mystring = 'abcdefghijk'

In [5]:
mystring [2:]

'cdefghijk'

In [6]:
mystring[:4]

'abcd'

In [7]:
mystring[3:6]

'def'

In [8]:
mystring[1:3]

'bc'

In [9]:
mystring[::3]

'adgj'

In [10]:
mystring[::-1]

'kjihgfedcba'

In [11]:
x = 'Hello World'

In [13]:
x.upper()

'HELLO WORLD'

In [14]:
type(x.upper())

str

In [15]:
x.split()

['Hello', 'World']

In [17]:
x.split('l')

['He', '', 'o Wor', 'd']

In [18]:
print('This is a string {}'.format('Inserted String'))

This is a string Inserted String

In [1]:
my_name = "Bill"

In [1]:
def say_hello():
    print('hello')

In [2]:
say_hello()

hello

In [9]:
a = ("John", "Charles", "Mike","Gerry")
b = ("Jenny", "Christy", "Monica","Walter")

x = zip(a, b)

In [4]:
x

In [17]:
type(x)

zip

In [10]:
for item in x:
    print(item)

('John', 'Jenny')
('Charles', 'Christy')
('Mike', 'Monica')
('Gerry', 'Walter')

In [15]:
myres = list(sum(x, []))

In [16]:
print(str(myres))

[]

In [20]:
sum((4,5))

9

In [23]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [33]:
sum([5],7)

12

In [44]:
mytext = ('My string using single quotes, with words starting with an "s"')
for item in mytext.split():
        if item[0].upper() == "S":
            print(item)

string
single
starting

In [51]:
mytext_split = mytext.split()
print(mytext_split[1][1])
print(mytext_split[0][0])

t
M

In [60]:
name = 'billkoch'
listname = list(name)
listname[0] = listname[0].upper()
listname[3] = listname[3].upper()
print(''.join(listname))

BilLkoch

In [59]:
''.join(listname)

'BilLkoch'

In [61]:
name[:3].capitalize()

'Bil'

In [62]:
name[3:].capitalize()

'Lkoch'

In [63]:
name[:3].capitalize() + name[3:].capitalize()

'BilLkoch'

In [71]:
namelist = list(name)
namelist.reverse()
print(' '.join(namelist))
print(namelist)

h c o k l l i b
['h', 'c', 'o', 'k', 'l', 'l', 'i', 'b']

namelist

In [72]:
100>95

True

In [73]:
abs(100-10)>10

True

In [85]:
temp = [4,5,6,7,7,7,8]
for i in range(0,len(temp)-1,1):
        if temp[i] == 7 and temp[i+1] == 7:
            print("this is true, at position {}".format(i))

this is true, at position 3
this is true, at position 4

In [96]:
mystring = 'short string'
for char in range(0,len(mystring)-1,1):
    print(mystring[char]*3)

sss
hhh
ooo
rrr
ttt

sss
ttt
rrr
iii
nnn

In [100]:
mystring2 = 'short string'
mystringmod = ''
for char in range(0,len(mystring2),1):
    mystringmod = mystringmod + (mystring2[char]*3)
    #print(char)
print(mystringmod)

ssshhhooorrrttt   ssstttrrriiinnnggg

In [105]:
bjtemp = (1,4,8)
if sum(bjtemp) > 21:
    if bjtemp[0] == 11 or bjtemp[1] == 11 or bjtemp[1] == 11:
        print(sum(bjtemp)-11)
    else:
        print('Bust')
else:
    print(sum(bjtemp))

13

SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
summer_69([1, 3, 5]) --> 9
summer_69([4, 5, 6, 7, 8, 9]) --> 9
summer_69([2, 1, 6, 9, 11]) --> 14

In [137]:
summer = (2,1,6,9,11,6,7,8,9,10)
mysum = 0
found6 = False
if not(6 in summer):
    print(sum(summer))
else:
    for i in summer:
        if not(found6) and i != 6:
            mysum = mysum + i
        elif i == 6:
            found6 = True
        elif i == 9:
            found6 = False
        else:
            pass
    print(mysum)

24

In [141]:
summer = (2,1,6,9,11,6,7,8,9,10)

def summer_69(summer):
    mysum = 0
    found6 = False
    if not(6 in summer):
        return(sum(summer))
    else:
        for i in summer:
            if not(found6) and i != 6:
                mysum = mysum + i
            elif i == 6:
                found6 = True
            elif i == 9:
                found6 = False
            else:
                pass
        return(mysum)

In [142]:
# Check
summer_69([1, 3, 5])

9

In [143]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [144]:
# Check
summer_69([2, 1, 6, 9, 11])

14

In [203]:
#mylist = (0,7,5,6,0,0,7,0)
mylist = (0,7,0,7,0,7)
spylist = []
if (not 0 in mylist) and (not 7 in mylist):
    print(False)
else:
    for counter in range(0,len(mylist),1):
        if mylist[counter] == 0 or mylist[counter] == 7:
            spylist.append(mylist[counter])
#print(spylist)
for checkcounter in range(0,len(spylist)-2,1):
    if (spylist[checkcounter],spylist[checkcounter+1],spylist[checkcounter+2]) == (0,0,7):
        print(True)
        break
    #else:
    elif checkcounter+3 >= len(spylist):
        print(False)
        #print(checkcounter,(len(spylist)))

False

In [13]:
instring = 'Anthropomorphism'
inlist = list(instring)
for i in range(0,len(inlist),1):
    if i % 2:
        inlist[i] = inlist[i].capitalize()
    else:
        inlist[i] = inlist[i].casefold()
print(''.join(inlist))

aNtHrOpOmOrPhIsM

In [35]:
class Dog():
    
    # CLASS OBJECT ATTRIBUTE
    # SAME FOR ANY INSTANCE OF A CLASS
    species = 'mammal'
    
    def __init__(self,breed,name,spots):
    
        # Attributes
        # We take in the argument
        # Assign it using self.attribute_name
        self.breed = breed
        self.name = name
        
        # Expect boolean here
        self.spots = spots
        
    def bark(self,number):
        print("WOOF! My name is {} and the number is {}".format(self.name,number))

In [2]:
my_sample = Sample()

In [3]:
type(my_sample)

__main__.Sample

In [36]:
my_dog = Dog('Boxer', 'Chance', True)

In [26]:
my_dog.__dict__

{'breed': 'Boxer', 'name': 'Chance', 'spots': True}

In [27]:
my_dog.__dict__.keys()

dict_keys(['breed', 'name', 'spots'])

In [38]:
my_dog.bark(10)

WOOF! My name is Chance and the number is 10

In [47]:
class Circle():
    
    # CLASS OBJECT ATTRIBUTE
    pi = 3.14159
    
    def __init__(self,radius=1):
        self.radius = radius
        
    # METHOD
    def get_circumference(self):
        return self.radius * self.pi * 2

In [48]:
my_circle = Circle(30)

In [41]:
my_circle.pi

3.14159

In [42]:
my_circle.radius

1

In [50]:
my_circle.get_circumference()

188.4954